th {
  text-align: center;
}

.outer {  
  border: 2px solid black;
  width: 90vw;
  height: 90vh;
  margin: 10px; 
  visibility: visible;
  padding: 10px;
  background-color: #ffcccc;
  position: static;
}

th {
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: x-large;
}

.inner {
  border: 2px solid black;
  margin: 2px;
  width: 80vw;
  height: 80vh;
  background-color: white;
  position: static;
}

.color-item {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  top: 200px;
  left: -80px;
  margin: 6px;
}

.button {
  height: 10vh;
  width: 30vh;
  position: relative;
  left: 500px;
  top: 400px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: #00cc7a;
  border-color: #00ff99;
}

